.ccc-c-success {
  color: #21c6a1; }

.ccc-c-failure {
  color: #fe622a; }

.progress-circle {
  position: relative;
  display: block;
  margin: 0 0 15px;
  padding: 0;
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px; }
  .progress-circle .progress-circle-border {
    border: 15px solid #e3e3e3;
    border-radius: 100%;
    font-size: 60px;
    height: 60px;
    position: absolute;
    text-align: center;
    width: 60px; }
    .progress-circle .progress-circle-border .left-half-circle,
    .progress-circle .progress-circle-border .right-half-circle {
      border: 15px solid #21c6a1;
      border-radius: 50%;
      clip: rect(0, 0.5em, 1em, 0);
      height: 60px;
      margin-top: -15px;
      margin-left: -15px;
      position: absolute;
      width: 60px; }
    .progress-circle .progress-circle-border .left-half-circle {
      clip: rect(0, 0.5em, 1em, 0); }
  .progress-circle .progress-circle-content {
    -webkit-align-items: center;
            align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    height: 50px;
    -webkit-justify-content: center;
            justify-content: center;
    margin: 10px;
    min-height: 50px;
    min-width: 50px;
    padding: 1em;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: 2; }
  .progress-circle.p-1 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-1 .right-half-circle {
    -webkit-transform: rotate(3.6deg);
            transform: rotate(3.6deg); }
  .progress-circle.p-2 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-2 .right-half-circle {
    -webkit-transform: rotate(7.2deg);
            transform: rotate(7.2deg); }
  .progress-circle.p-3 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-3 .right-half-circle {
    -webkit-transform: rotate(10.8deg);
            transform: rotate(10.8deg); }
  .progress-circle.p-4 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-4 .right-half-circle {
    -webkit-transform: rotate(14.4deg);
            transform: rotate(14.4deg); }
  .progress-circle.p-5 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-5 .right-half-circle {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg); }
  .progress-circle.p-6 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-6 .right-half-circle {
    -webkit-transform: rotate(21.6deg);
            transform: rotate(21.6deg); }
  .progress-circle.p-7 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-7 .right-half-circle {
    -webkit-transform: rotate(25.2deg);
            transform: rotate(25.2deg); }
  .progress-circle.p-8 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-8 .right-half-circle {
    -webkit-transform: rotate(28.8deg);
            transform: rotate(28.8deg); }
  .progress-circle.p-9 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-9 .right-half-circle {
    -webkit-transform: rotate(32.4deg);
            transform: rotate(32.4deg); }
  .progress-circle.p-10 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-10 .right-half-circle {
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg); }
  .progress-circle.p-11 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-11 .right-half-circle {
    -webkit-transform: rotate(39.6deg);
            transform: rotate(39.6deg); }
  .progress-circle.p-12 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-12 .right-half-circle {
    -webkit-transform: rotate(43.2deg);
            transform: rotate(43.2deg); }
  .progress-circle.p-13 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-13 .right-half-circle {
    -webkit-transform: rotate(46.8deg);
            transform: rotate(46.8deg); }
  .progress-circle.p-14 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-14 .right-half-circle {
    -webkit-transform: rotate(50.4deg);
            transform: rotate(50.4deg); }
  .progress-circle.p-15 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-15 .right-half-circle {
    -webkit-transform: rotate(54deg);
            transform: rotate(54deg); }
  .progress-circle.p-16 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-16 .right-half-circle {
    -webkit-transform: rotate(57.6deg);
            transform: rotate(57.6deg); }
  .progress-circle.p-17 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-17 .right-half-circle {
    -webkit-transform: rotate(61.2deg);
            transform: rotate(61.2deg); }
  .progress-circle.p-18 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-18 .right-half-circle {
    -webkit-transform: rotate(64.8deg);
            transform: rotate(64.8deg); }
  .progress-circle.p-19 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-19 .right-half-circle {
    -webkit-transform: rotate(68.4deg);
            transform: rotate(68.4deg); }
  .progress-circle.p-20 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-20 .right-half-circle {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg); }
  .progress-circle.p-21 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-21 .right-half-circle {
    -webkit-transform: rotate(75.6deg);
            transform: rotate(75.6deg); }
  .progress-circle.p-22 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-22 .right-half-circle {
    -webkit-transform: rotate(79.2deg);
            transform: rotate(79.2deg); }
  .progress-circle.p-23 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-23 .right-half-circle {
    -webkit-transform: rotate(82.8deg);
            transform: rotate(82.8deg); }
  .progress-circle.p-24 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-24 .right-half-circle {
    -webkit-transform: rotate(86.4deg);
            transform: rotate(86.4deg); }
  .progress-circle.p-25 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-25 .right-half-circle {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .progress-circle.p-26 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-26 .right-half-circle {
    -webkit-transform: rotate(93.6deg);
            transform: rotate(93.6deg); }
  .progress-circle.p-27 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-27 .right-half-circle {
    -webkit-transform: rotate(97.2deg);
            transform: rotate(97.2deg); }
  .progress-circle.p-28 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-28 .right-half-circle {
    -webkit-transform: rotate(100.8deg);
            transform: rotate(100.8deg); }
  .progress-circle.p-29 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-29 .right-half-circle {
    -webkit-transform: rotate(104.4deg);
            transform: rotate(104.4deg); }
  .progress-circle.p-30 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-30 .right-half-circle {
    -webkit-transform: rotate(108deg);
            transform: rotate(108deg); }
  .progress-circle.p-31 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-31 .right-half-circle {
    -webkit-transform: rotate(111.6deg);
            transform: rotate(111.6deg); }
  .progress-circle.p-32 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-32 .right-half-circle {
    -webkit-transform: rotate(115.2deg);
            transform: rotate(115.2deg); }
  .progress-circle.p-33 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-33 .right-half-circle {
    -webkit-transform: rotate(118.8deg);
            transform: rotate(118.8deg); }
  .progress-circle.p-34 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-34 .right-half-circle {
    -webkit-transform: rotate(122.4deg);
            transform: rotate(122.4deg); }
  .progress-circle.p-35 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-35 .right-half-circle {
    -webkit-transform: rotate(126deg);
            transform: rotate(126deg); }
  .progress-circle.p-36 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-36 .right-half-circle {
    -webkit-transform: rotate(129.6deg);
            transform: rotate(129.6deg); }
  .progress-circle.p-37 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-37 .right-half-circle {
    -webkit-transform: rotate(133.2deg);
            transform: rotate(133.2deg); }
  .progress-circle.p-38 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-38 .right-half-circle {
    -webkit-transform: rotate(136.8deg);
            transform: rotate(136.8deg); }
  .progress-circle.p-39 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-39 .right-half-circle {
    -webkit-transform: rotate(140.4deg);
            transform: rotate(140.4deg); }
  .progress-circle.p-40 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-40 .right-half-circle {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg); }
  .progress-circle.p-41 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-41 .right-half-circle {
    -webkit-transform: rotate(147.6deg);
            transform: rotate(147.6deg); }
  .progress-circle.p-42 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-42 .right-half-circle {
    -webkit-transform: rotate(151.2deg);
            transform: rotate(151.2deg); }
  .progress-circle.p-43 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-43 .right-half-circle {
    -webkit-transform: rotate(154.8deg);
            transform: rotate(154.8deg); }
  .progress-circle.p-44 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-44 .right-half-circle {
    -webkit-transform: rotate(158.4deg);
            transform: rotate(158.4deg); }
  .progress-circle.p-45 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-45 .right-half-circle {
    -webkit-transform: rotate(162deg);
            transform: rotate(162deg); }
  .progress-circle.p-46 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-46 .right-half-circle {
    -webkit-transform: rotate(165.6deg);
            transform: rotate(165.6deg); }
  .progress-circle.p-47 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-47 .right-half-circle {
    -webkit-transform: rotate(169.2deg);
            transform: rotate(169.2deg); }
  .progress-circle.p-48 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-48 .right-half-circle {
    -webkit-transform: rotate(172.8deg);
            transform: rotate(172.8deg); }
  .progress-circle.p-49 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-49 .right-half-circle {
    -webkit-transform: rotate(176.4deg);
            transform: rotate(176.4deg); }
  .progress-circle.p-50 .left-half-circle {
    border-color: #e3e3e3 !important;
    z-index: 2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-50 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-51 .left-half-circle {
    -webkit-transform: rotate(-176.4deg);
            transform: rotate(-176.4deg); }
  .progress-circle.p-51 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-52 .left-half-circle {
    -webkit-transform: rotate(-172.8deg);
            transform: rotate(-172.8deg); }
  .progress-circle.p-52 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-53 .left-half-circle {
    -webkit-transform: rotate(-169.2deg);
            transform: rotate(-169.2deg); }
  .progress-circle.p-53 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-54 .left-half-circle {
    -webkit-transform: rotate(-165.6deg);
            transform: rotate(-165.6deg); }
  .progress-circle.p-54 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-55 .left-half-circle {
    -webkit-transform: rotate(-162deg);
            transform: rotate(-162deg); }
  .progress-circle.p-55 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-56 .left-half-circle {
    -webkit-transform: rotate(-158.4deg);
            transform: rotate(-158.4deg); }
  .progress-circle.p-56 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-57 .left-half-circle {
    -webkit-transform: rotate(-154.8deg);
            transform: rotate(-154.8deg); }
  .progress-circle.p-57 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-58 .left-half-circle {
    -webkit-transform: rotate(-151.2deg);
            transform: rotate(-151.2deg); }
  .progress-circle.p-58 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-59 .left-half-circle {
    -webkit-transform: rotate(-147.6deg);
            transform: rotate(-147.6deg); }
  .progress-circle.p-59 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-60 .left-half-circle {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg); }
  .progress-circle.p-60 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-61 .left-half-circle {
    -webkit-transform: rotate(-140.4deg);
            transform: rotate(-140.4deg); }
  .progress-circle.p-61 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-62 .left-half-circle {
    -webkit-transform: rotate(-136.8deg);
            transform: rotate(-136.8deg); }
  .progress-circle.p-62 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-63 .left-half-circle {
    -webkit-transform: rotate(-133.2deg);
            transform: rotate(-133.2deg); }
  .progress-circle.p-63 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-64 .left-half-circle {
    -webkit-transform: rotate(-129.6deg);
            transform: rotate(-129.6deg); }
  .progress-circle.p-64 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-65 .left-half-circle {
    -webkit-transform: rotate(-126deg);
            transform: rotate(-126deg); }
  .progress-circle.p-65 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-66 .left-half-circle {
    -webkit-transform: rotate(-122.4deg);
            transform: rotate(-122.4deg); }
  .progress-circle.p-66 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-67 .left-half-circle {
    -webkit-transform: rotate(-118.8deg);
            transform: rotate(-118.8deg); }
  .progress-circle.p-67 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-68 .left-half-circle {
    -webkit-transform: rotate(-115.2deg);
            transform: rotate(-115.2deg); }
  .progress-circle.p-68 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-69 .left-half-circle {
    -webkit-transform: rotate(-111.6deg);
            transform: rotate(-111.6deg); }
  .progress-circle.p-69 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-70 .left-half-circle {
    -webkit-transform: rotate(-108deg);
            transform: rotate(-108deg); }
  .progress-circle.p-70 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-71 .left-half-circle {
    -webkit-transform: rotate(-104.4deg);
            transform: rotate(-104.4deg); }
  .progress-circle.p-71 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-72 .left-half-circle {
    -webkit-transform: rotate(-100.8deg);
            transform: rotate(-100.8deg); }
  .progress-circle.p-72 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-73 .left-half-circle {
    -webkit-transform: rotate(-97.2deg);
            transform: rotate(-97.2deg); }
  .progress-circle.p-73 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-74 .left-half-circle {
    -webkit-transform: rotate(-93.6deg);
            transform: rotate(-93.6deg); }
  .progress-circle.p-74 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-75 .left-half-circle {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .progress-circle.p-75 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-76 .left-half-circle {
    -webkit-transform: rotate(-86.4deg);
            transform: rotate(-86.4deg); }
  .progress-circle.p-76 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-77 .left-half-circle {
    -webkit-transform: rotate(-82.8deg);
            transform: rotate(-82.8deg); }
  .progress-circle.p-77 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-78 .left-half-circle {
    -webkit-transform: rotate(-79.2deg);
            transform: rotate(-79.2deg); }
  .progress-circle.p-78 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-79 .left-half-circle {
    -webkit-transform: rotate(-75.6deg);
            transform: rotate(-75.6deg); }
  .progress-circle.p-79 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-80 .left-half-circle {
    -webkit-transform: rotate(-72deg);
            transform: rotate(-72deg); }
  .progress-circle.p-80 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-81 .left-half-circle {
    -webkit-transform: rotate(-68.4deg);
            transform: rotate(-68.4deg); }
  .progress-circle.p-81 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-82 .left-half-circle {
    -webkit-transform: rotate(-64.8deg);
            transform: rotate(-64.8deg); }
  .progress-circle.p-82 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-83 .left-half-circle {
    -webkit-transform: rotate(-61.2deg);
            transform: rotate(-61.2deg); }
  .progress-circle.p-83 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-84 .left-half-circle {
    -webkit-transform: rotate(-57.6deg);
            transform: rotate(-57.6deg); }
  .progress-circle.p-84 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-85 .left-half-circle {
    -webkit-transform: rotate(-54deg);
            transform: rotate(-54deg); }
  .progress-circle.p-85 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-86 .left-half-circle {
    -webkit-transform: rotate(-50.4deg);
            transform: rotate(-50.4deg); }
  .progress-circle.p-86 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-87 .left-half-circle {
    -webkit-transform: rotate(-46.8deg);
            transform: rotate(-46.8deg); }
  .progress-circle.p-87 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-88 .left-half-circle {
    -webkit-transform: rotate(-43.2deg);
            transform: rotate(-43.2deg); }
  .progress-circle.p-88 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-89 .left-half-circle {
    -webkit-transform: rotate(-39.6deg);
            transform: rotate(-39.6deg); }
  .progress-circle.p-89 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-90 .left-half-circle {
    -webkit-transform: rotate(-36deg);
            transform: rotate(-36deg); }
  .progress-circle.p-90 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-91 .left-half-circle {
    -webkit-transform: rotate(-32.4deg);
            transform: rotate(-32.4deg); }
  .progress-circle.p-91 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-92 .left-half-circle {
    -webkit-transform: rotate(-28.8deg);
            transform: rotate(-28.8deg); }
  .progress-circle.p-92 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-93 .left-half-circle {
    -webkit-transform: rotate(-25.2deg);
            transform: rotate(-25.2deg); }
  .progress-circle.p-93 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-94 .left-half-circle {
    -webkit-transform: rotate(-21.6deg);
            transform: rotate(-21.6deg); }
  .progress-circle.p-94 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-95 .left-half-circle {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg); }
  .progress-circle.p-95 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-96 .left-half-circle {
    -webkit-transform: rotate(-14.4deg);
            transform: rotate(-14.4deg); }
  .progress-circle.p-96 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-97 .left-half-circle {
    -webkit-transform: rotate(-10.8deg);
            transform: rotate(-10.8deg); }
  .progress-circle.p-97 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-98 .left-half-circle {
    -webkit-transform: rotate(-7.2deg);
            transform: rotate(-7.2deg); }
  .progress-circle.p-98 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-99 .left-half-circle {
    -webkit-transform: rotate(-3.6deg);
            transform: rotate(-3.6deg); }
  .progress-circle.p-99 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progress-circle.p-100 .left-half-circle {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .progress-circle.p-100 .right-half-circle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.progress-circle--success .progress-circle-border .left-half-circle,
.progress-circle--success .progress-circle-border .right-half-circle {
  border-color: #21c6a1; }

.progress-circle--failure .progress-circle-border .left-half-circle,
.progress-circle--failure .progress-circle-border .right-half-circle {
  border-color: #fe622a; }

.view-credit-card-report,
.view-credit-card-report * {
  box-sizing: border-box; }

.view-credit-card-report.view-display-id-page_1 {
  width: 100%;
  max-width: 1600px; }

.view-filters {
  clear: both;
  display: block;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0 0 20px;
  padding: 30px 20px;
  background: #f8f8f8;
  border: 1px solid #ccc; }
  @media (min-width: 992px) {
    .view-filters {
      display: -webkit-flex;
      display: flex;
      padding: 30px 50px; } }
  .view-filters::after {
    content: '';
    display: table;
    clear: both; }

.view-filters__header {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  border-right: none; }
  @media (min-width: 992px) {
    .view-filters__header {
      padding: 30px 0;
      width: 220px;
      min-width: 220px;
      border-right: 1px solid #dfdfdf; } }
  .view-filters__header h2 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px; }
  .view-filters__header p {
    margin: 0;
    padding: 0; }

.view-filters__form__display {
  margin: 0 0 15px;
  padding: 0; }

.view-filters__form__display-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background: none; }
  .view-filters__form__display-list > li {
    display: block;
    margin: 0 20px 5px 0;
    padding: 0;
    background: none; }
    .view-filters__form__display-list > li:last-child {
      margin-right: 0; }
  .view-filters__form__display-list a.active {
    color: #333;
    font-weight: bold;
    pointer-events: none; }

.view-filters__form__exposed-dates {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }

.view-filters__form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 0;
  padding: 0;
  width: 100%; }
  @media (min-width: 992px) {
    .view-filters__form {
      display: -webkit-flex;
      display: flex;
      margin: 0;
      padding: 0 0 0 50px; } }
  .view-filters__form .form-item {
    margin: 0;
    padding: 0; }
  .view-filters__form .form--inline > .form-item.form-item-date-from, .view-filters__form .form--inline > .form-item.form-item-date-to {
    position: relative;
    margin-right: 15px;
    width: 170px; }
    @media (min-width: 768px) {
      .view-filters__form .form--inline > .form-item.form-item-date-from, .view-filters__form .form--inline > .form-item.form-item-date-to {
        width: 170px; } }
    .view-filters__form .form--inline > .form-item.form-item-date-from input, .view-filters__form .form--inline > .form-item.form-item-date-to input {
      padding: 5px 40px 5px 15px;
      width: 100%;
      max-width: 100%;
      height: 50px; }
    .view-filters__form .form--inline > .form-item.form-item-date-from::after, .view-filters__form .form--inline > .form-item.form-item-date-to::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 15px;
      right: 12px;
      width: 20px;
      height: 20px;
      background: url("../images/ico-calendar.svg");
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none; }
  .view-filters__form .form--inline > .form-item.form-item-date-to, .view-filters__form .form--inline > .form-item.form-item-date-from {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .view-filters__form .form--inline > .form-item.form-item-date-to, .view-filters__form .form--inline > .form-item.form-item-date-from {
        margin-bottom: 15px; } }

.view-filters .form-item {
  display: inline-block;
  vertical-align: top; }

.view-filters .view-filters__label,
.view-filters .form-item.view-filters__label {
  margin-top: auto;
  margin-right: 15px;
  height: 50px;
  line-height: 50px; }

.ccc-download-report {
  position: relative;
  display: inline-block;
  margin: auto 0;
  padding: 16px 20px 10px 52px;
  width: auto;
  height: 50px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  background: #21c6a1;
  border: none; }
  .ccc-download-report:hover, .ccc-download-report:focus {
    color: #fff;
    text-decoration: none;
    background: #1dac8c; }
  .ccc-download-report::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: url("../images/ico-download.svg");
    background-repeat: no-repeat;
    background-size: contain; }

.view-credit-card-report.view-display-id-page_1 > .view-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc; }
  .view-credit-card-report.view-display-id-page_1 > .view-header::after {
    content: '';
    display: table;
    clear: both; }
  .view-credit-card-report.view-display-id-page_1 > .view-header h3 {
    margin-top: 0;
    padding-top: 0;
    font-weight: bold; }
    .view-credit-card-report.view-display-id-page_1 > .view-header h3 span {
      font-weight: normal; }
    .view-credit-card-report.view-display-id-page_1 > .view-header h3.ccc-all-cards-title {
      padding-left: 40px; }

.view-credit-card-report.view-display-id-page_1 > .view-header > div.view {
  margin: 0 0 25px;
  padding: 0 20px 25px;
  width: 100%;
  border: none; }
  @media (min-width: 992px) {
    .view-credit-card-report.view-display-id-page_1 > .view-header > div.view {
      margin: 0 0 20px;
      width: 50%; } }
  @media (min-width: 1200px) {
    .view-credit-card-report.view-display-id-page_1 > .view-header > div.view {
      padding: 30px 30px 0;
      width: 50%; } }
  .view-credit-card-report.view-display-id-page_1 > .view-header > div.view:nth-child(1) {
    width: 100%;
    border-left: none; }
    @media (min-width: 992px) {
      .view-credit-card-report.view-display-id-page_1 > .view-header > div.view:nth-child(1) {
        width: 100%;
        border-left: none; } }
    @media (min-width: 1200px) {
      .view-credit-card-report.view-display-id-page_1 > .view-header > div.view:nth-child(1) {
        width: 33.3333%;
        border-left: none; } }
  .view-credit-card-report.view-display-id-page_1 > .view-header > div.view:last-child {
    padding-left: 0;
    border: none; }
    @media (min-width: 992px) {
      .view-credit-card-report.view-display-id-page_1 > .view-header > div.view:last-child {
        padding-left: 30px;
        border: none;
        border-left: 1px solid #dfdfdf; } }
    @media (min-width: 1200px) {
      .view-credit-card-report.view-display-id-page_1 > .view-header > div.view:last-child {
        padding-left: 30px;
        border: none;
        border-left: 1px solid #dfdfdf; } }
  .view-credit-card-report.view-display-id-page_1 > .view-header > div.view > .view-header,
  .view-credit-card-report.view-display-id-page_1 > .view-header > div.view > .view-content {
    margin: 0 auto;
    width: 100%;
    max-width: 650px; }

.ccc-rate-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.2; }
  .ccc-rate-header > div {
    margin: 0;
    padding: 0 30px;
    width: 50%; }
    .ccc-rate-header > div:first-child {
      padding-left: 0; }
    .ccc-rate-header > div:last-child {
      padding-right: 0;
      border-left: 1px solid #dfdfdf; }

.ccc-rate-header__number {
  font-size: 32px;
  line-height: 1.2; }

.ccc-cc-transactions-header {
  margin: 0 0 20px;
  padding: 30px 20px;
  width: 100%;
  border-bottom: 1px solid #ccc; }
  @media (min-width: 1200px) {
    .ccc-cc-transactions-header {
      padding: 10px 50px; } }

.ccc-cc-transactions-header__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center; }
  @media (min-width: 1200px) {
    .ccc-cc-transactions-header__content {
      -webkit-flex-wrap: nowrap;
              flex-wrap: nowrap; } }
  .ccc-cc-transactions-header__content > div {
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (min-width: 1200px) {
      .ccc-cc-transactions-header__content > div {
        padding-top: 20px;
        padding-bottom: 20px; } }

.ccc-cc-transactions-header__title {
  width: 100%;
  min-width: 100%;
  border-right: none; }
  @media (min-width: 1200px) {
    .ccc-cc-transactions-header__title {
      width: 220px;
      min-width: 220px;
      border-right: 1px solid #dfdfdf; } }
  .ccc-cc-transactions-header__title h3 {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 66px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2; }
    .ccc-cc-transactions-header__title h3::before, .ccc-cc-transactions-header__title h3::after {
      content: '';
      position: absolute;
      top: 0;
      left: 6px;
      display: block;
      margin: 0;
      padding: 0;
      width: 37px;
      height: 26px;
      background: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 2px 3px #d7dee0;
      pointer-events: none;
      z-index: 3; }
    .ccc-cc-transactions-header__title h3::after {
      top: -6px;
      left: 0;
      z-index: 2; }

.ccc-cc-transactions-header__number {
  padding-left: 0;
  padding-right: 0;
  width: 100%; }
  @media (min-width: 1200px) {
    .ccc-cc-transactions-header__number {
      padding-left: 50px;
      padding-right: 20px; } }

.ccc-cc-transactions-header__number__count {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 40px;
  line-height: 1.2;
  vertical-align: middle; }

.ccc-cc-transactions-header__number__label {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: middle; }

.ccc-cc-transactions-header__dates {
  width: 100%;
  min-width: 100%;
  text-align: left; }
  @media (min-width: 1200px) {
    .ccc-cc-transactions-header__dates {
      width: 300px;
      min-width: 300px;
      text-align: right; } }

.view-credit-card-report.view-display-id-page_1 > .view-content {
  border: 1px solid #ccc;
  border-top: none; }

.ccc-card-report-row {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.2;
  background: #f8f8f8;
  border-bottom: 1px solid #dfdfdf; }
  .ccc-card-report-row strong {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.6; }
    .ccc-card-report-row strong.ccc-lg {
      padding-right: 5px;
      font-size: 28px; }
  .ccc-card-report-row:last-child {
    border-bottom: none; }
  .ccc-card-report-row > div {
    margin: 0;
    padding: 15px 20px;
    width: 100%; }
    @media (min-width: 768px) {
      .ccc-card-report-row > div {
        padding: 10px 30px; } }
    .ccc-card-report-row > div.ccc-card-report-row__card-type {
      padding-top: 21px;
      width: 100%;
      min-width: auto; }
      @media (min-width: 1560px) {
        .ccc-card-report-row > div.ccc-card-report-row__card-type {
          width: 20%; } }
    .ccc-card-report-row > div.ccc-card-report-row__total-transactions {
      padding-top: 21px;
      width: 100%;
      border-left: none;
      border-right: none; }
      @media (min-width: 1560px) {
        .ccc-card-report-row > div.ccc-card-report-row__total-transactions {
          width: 30%;
          border-left: 1px solid #dfdfdf;
          border-right: 1px solid #dfdfdf; } }
    .ccc-card-report-row > div.ccc-card-report-row__transactions {
      width: 100%; }
      @media (min-width: 1560px) {
        .ccc-card-report-row > div.ccc-card-report-row__transactions {
          width: 50%; } }

.ccc-card-report-row__attempted-total {
  position: relative;
  top: 2px;
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 28px; }

.ccc-card-report-row__attempted-total-details {
  display: none; }

.ccc-card-report-row__full-details {
  position: relative;
  display: none;
  margin: 24px 0;
  padding-left: 40px; }
  .ccc-card-report-row__full-details.ccc-card-report-row__full-details--offset {
    padding-left: 0; }

.ccc-card-report-row__full-details .ccc-ico {
  position: absolute;
  top: -6px;
  left: 0; }

.ccc-card-report-row.active {
  background: #fff; }
  .ccc-card-report-row.active .ccc-card-report-row__attempted-total-details {
    display: inline-block; }
  .ccc-card-report-row.active .ccc-card-report-row__full-details {
    display: block; }
  .ccc-card-report-row.active .ccc-card-report-row__details-content {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 670px; }
    @media (min-width: 768px) {
      .ccc-card-report-row.active .ccc-card-report-row__details-content {
        display: -webkit-flex;
        display: flex;
        padding: 20px 30px 0; } }
    .ccc-card-report-row.active .ccc-card-report-row__details-content > .ccc-card-report-row__percentage {
      display: block;
      padding-right: 30px;
      width: 150px;
      min-width: 150px; }
      .ccc-card-report-row.active .ccc-card-report-row__details-content > .ccc-card-report-row__percentage .progress-circle {
        margin: 0 0 15px; }
      .ccc-card-report-row.active .ccc-card-report-row__details-content > .ccc-card-report-row__percentage .ccc-card-report-row__percentage-value {
        padding: 0; }
      .ccc-card-report-row.active .ccc-card-report-row__details-content > .ccc-card-report-row__percentage .ccc-card-report-row__percentage-info {
        padding: 0; }
    .ccc-card-report-row.active .ccc-card-report-row__details-content > .ccc-card-report-row__details-col {
      display: block; }
  .ccc-card-report-row.active > div.ccc-card-report-row__total-transactions {
    width: 80%;
    border-right: none; }
  .ccc-card-report-row.active > div.ccc-card-report-row__transactions {
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #ccc; }
    .ccc-card-report-row.active > div.ccc-card-report-row__transactions > div:first-child {
      border-right: none; }
      @media (min-width: 768px) {
        .ccc-card-report-row.active > div.ccc-card-report-row__transactions > div:first-child {
          border-right: 1px solid #ccc; } }

.js-ccc-view-row-details {
  position: absolute;
  top: 20px;
  right: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-size: 0;
  line-height: 1;
  z-index: 1; }

.js-ccc-view-row-details:hover,
.js-ccc-view-row-details:focus,
.js-ccc-view-row-details::before {
  text-decoration: none; }

.js-ccc-view-row-details::before {
  content: '+';
  display: block;
  font-family: Arial, sans-serif;
  font-size: 36px;
  line-height: 1; }

.active .js-ccc-view-row-details::before {
  content: '-'; }

.ccc-card-report-row__transactions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  .ccc-card-report-row__transactions > div {
    margin: 10px 0 30px;
    width: 100%; }
    @media (min-width: 768px) {
      .ccc-card-report-row__transactions > div {
        margin: 0;
        width: 50%; } }
    .ccc-card-report-row__transactions > div:first-child {
      border-right: none; }
      @media (min-width: 768px) {
        .ccc-card-report-row__transactions > div:first-child {
          border-right: none; } }

.ccc-card-report-row__details-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  .ccc-card-report-row__details-content > .ccc-card-report-row__percentage {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
    width: 100%;
    min-width: 100%; }
    .ccc-card-report-row__details-content > .ccc-card-report-row__percentage .progress-circle {
      margin: 0; }
    .ccc-card-report-row__details-content > .ccc-card-report-row__percentage .ccc-card-report-row__percentage-value {
      margin: 0 0 8px;
      padding: 13px 15px 0 15px;
      font-size: 28px; }
    .ccc-card-report-row__details-content > .ccc-card-report-row__percentage .ccc-card-report-row__percentage-info {
      padding: 10px 0 0;
      line-height: 1.3; }
  .ccc-card-report-row__details-content > .ccc-card-report-row__details-col {
    display: none;
    width: 100%; }

.ccc-card-report-row .views-field-card-type div {
  display: inline-block;
  vertical-align: top; }

.ccc-card-report-row .ccc-card-report-row__card-icon {
  margin-right: 10px;
  width: 60px;
  height: 38px;
  background-size: 60px 38px; }

.ccc-card-report-row__card-name {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  vertical-align: top; }

.ccc-card-report__list {
  display: block;
  margin: 8px 0 15px;
  padding: 0;
  list-style: none; }
  .ccc-card-report__list > li {
    display: block;
    margin: 0 0 10px;
    padding: 0;
    font-size: 14px;
    line-height: 1.3;
    background: none; }
  .ccc-card-report__list.js-ccc-card-report__list > li {
    display: none; }
  .ccc-card-report__list.js-ccc-card-report__list > li:nth-child(1),
  .ccc-card-report__list.js-ccc-card-report__list > li:nth-child(2),
  .ccc-card-report__list.js-ccc-card-report__list > li:nth-child(3),
  .ccc-card-report__list.js-ccc-card-report__list > li:nth-child(4),
  .ccc-card-report__list.js-ccc-card-report__list > li:nth-child(5) {
    display: block; }
  .ccc-card-report__list.js-ccc-card-report__list > li.ccc-card-report__list__view-all {
    display: block; }
  .ccc-card-report__list.js-ccc-card-report__list.active > li {
    display: block; }

.js-ccc-card-report__list__view-all-button::before {
  content: '+';
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: top; }

.js-ccc-card-report__list__view-all-button .js-ccc-card-report__list__view-all-button__default {
  display: inline; }

.js-ccc-card-report__list__view-all-button .js-ccc-card-report__list__view-all-button__active {
  display: none; }

.js-ccc-card-report__list.active .js-ccc-card-report__list__view-all-button::before {
  content: '-'; }

.js-ccc-card-report__list.active .js-ccc-card-report__list__view-all-button .js-ccc-card-report__list__view-all-button__default {
  display: none; }

.js-ccc-card-report__list.active .js-ccc-card-report__list__view-all-button .js-ccc-card-report__list__view-all-button__active {
  display: inline; }

.ccc-ico {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  vertical-align: top;
  background: #ccc;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: 50% 50%;
  border-radius: 50%; }

.ccc-ico--success {
  background-color: #21c6a1; }

.ccc-ico--failure {
  background-color: #fe622a; }

.ccc-ico--dollar {
  background-image: url("../images/ico-dollar.svg"); }

.ccc-ico--calendar {
  background-image: url("../images/ico-calendar.svg"); }

.ccc-ico--download {
  background-image: url("../images/ico-download.svg"); }

.ccc-ico--exclamation,
.ccc-ico--error {
  background-image: url("../images/ico-exclamation.svg"); }

.ccc-ico--refresh {
  background-size: 45% 45%;
  background-image: url("../images/ico-refresh.svg"); }
