//
// Charts.
//

// Based off source code for drawing progress circles.
// See: https://github.com/radiance/scss-progress-circle-border.

// Compute border for showing progress in credits-circle.
@mixin helper-classes-for-progress-circle-border {
  @for $p from 1 through 100 {
    &.p-#{$p} {
      @include rotate-for-progress-circle-border($p);
    }
  }
}

@mixin rotate-for-progress-circle-border($percent) {
  @if $percent <= 50 {
    .left-half-circle {
      // Fills 0 to.
      // Overwrite info color to hide other half circle part.
      border-color: $default-border-color !important;
      z-index: 2;
      transform: rotate(0deg);
    }
    .right-half-circle {
      // Fills 0 to 180.
      transform: rotate(#{3.6 * $percent}deg);
    }
  }
  // If  p>50, don't clip left half.
  @if $percent > 50 {
    .left-half-circle {
      // Fills -180 to 0.
      transform: rotate(#{-180 + ($percent - 50) * 3.6}deg);
    }
    .right-half-circle {
      // Fills 0 to 180.
      transform: rotate(180deg);
    }
  }
}

$default-content-background-color: transparent;
$default-border-color: $c-chart-circle-bg;
$circle-width: 15px;

.progress-circle {
  position: relative;
  display: block;
  margin: 0 0 15px;
  padding: 0;
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;

  .progress-circle-border {
    border: $circle-width solid $default-border-color;
    border-radius: 100%;
    font-size: 60px;
    height: 60px;
    position: absolute;
    text-align: center;
    width: 60px;

    .left-half-circle,
    .right-half-circle {
      border: $circle-width solid $c-success;
      border-radius: 50%;
      // Clips the whole left half.
      clip: rect(0, .5em, 1em, 0);
      height: 60px;
      // Negative margin because of parents border.
      margin-top: -$circle-width;
      // Negative margin because of parents border.
      margin-left: -$circle-width;
      position: absolute;
      width: 60px;
    }

    .left-half-circle {
      // Clips the whole right half.
      clip: rect(0, .5em, 1em, 0);
    }
  }

  .progress-circle-content {
    align-items: center;
    background-color: $default-content-background-color;
    border: 0;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    margin: 10px;
    min-height: 50px;
    min-width: 50px;
    padding: 1em;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: 2;
  }

  // Call mixin at last.
  @include helper-classes-for-progress-circle-border;
}

.progress-circle--success .progress-circle-border {
  .left-half-circle,
  .right-half-circle {
    border-color: $c-success;
  }
}

.progress-circle--failure .progress-circle-border {
  .left-half-circle,
  .right-half-circle {
    border-color: $c-failure;
  }
}
