//
// Credit Card Report View.
//

.view-credit-card-report,
.view-credit-card-report * {
  box-sizing: border-box;
}

.view-credit-card-report.view-display-id-page_1 {
  width: 100%;
  max-width: $ccr-view-max-width;
}

// View Filters.
.view-filters {
  clear: both;
  display: block;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  padding: 30px 20px;
  background: $c-bg-light;
  border: 1px solid $c-border;

  @media (min-width: $screen-md) {
    display: flex;
    padding: 30px 50px;
  }

  // Clearfix.
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.view-filters__header {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  border-right: none;

  @media (min-width: $screen-md) {
    padding: 30px 0;
    width: 220px;
    min-width: 220px;
    border-right: 1px solid $c-border-light;
  }

  h2 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.view-filters__form__display {
  margin: 0 0 15px;
  padding: 0;
}

.view-filters__form__display-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;

  > li {
    display: block;
    margin: 0 20px 5px 0;
    padding: 0;
    background: none;

    &:last-child {
      margin-right: 0;
    }
  }

  a {

    // Active items.
    &.active {
      color: $c-text;
      font-weight: bold;
      pointer-events: none;
    }
  }
}

.view-filters__form__exposed-dates {
  display: flex;
  flex-wrap: wrap;
}

.view-filters__form {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
  padding: 0;
  width: 100%;

  @media (min-width: $screen-md) {
    display: flex;
    margin: 0;
    padding: 0 0 0 50px;
  }

  .form-item {
    margin: 0;
    padding: 0;
  }

  .form--inline > .form-item {
    &.form-item-date-from,
    &.form-item-date-to {
      position: relative;
      margin-right: 15px;
      width: 170px;

      @media (min-width: $screen-sm) {
        width: 170px;
      }

      input {
        padding: 5px 40px 5px 15px;
        width: 100%;
        max-width: 100%;
        height: 50px;
      }

      // Icon.
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 15px;
        right: 12px;
        width: 20px;
        height: 20px;
        background: url('../images/ico-calendar.svg');
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
      }
    }

    &.form-item-date-to,
    &.form-item-date-from {
      margin-bottom: 20px;

      @media (min-width: $screen-sm) {
        margin-bottom: 15px;
      }
    }
  }
}

.view-filters .form-item {
  display: inline-block;
  vertical-align: top;
}

.view-filters .view-filters__label,
.view-filters .form-item.view-filters__label {
  margin-top: auto;
  margin-right: 15px;
  height: 50px;
  line-height: 50px;
}

.ccc-download-report {
  position: relative;
  display: inline-block;
  margin: auto 0;
  padding: 16px 20px 10px 52px;
  width: auto;
  height: 50px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: $c-white;
  text-decoration: none;
  background: $c-success;
  border: none;

  &:hover,
  &:focus {
    color: $c-white;
    text-decoration: none;
    background: $c-success-hover;
  }

  // Icon.
  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: url('../images/ico-download.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// View Header.
.view-credit-card-report.view-display-id-page_1 > .view-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: 1px solid $c-border;

  // Clearfix.
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  h3 {
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;

    span {
      font-weight: normal;
    }

    &.ccc-all-cards-title {
      padding-left: 40px;
    }
  }
}

.view-credit-card-report.view-display-id-page_1 > .view-header > div.view {
  margin: 0 0 25px;
  padding: 0 20px 25px;
  width: 100%;
  border: none;

  @media (min-width: $screen-md) {
    margin: 0 0 20px;
    width: 50%;
  }
  @media (min-width: $screen-lg) {
    padding: 30px 30px 0;
    width: 50%;
  }

  // First column.
  &:nth-child(1) {
    width: 100%;
    border-left: none;

    @media (min-width: $screen-md) {
      width: 100%;
      border-left: none;
    }
    @media (min-width: $screen-lg) {
      width: 33.3333%;
      border-left: none;
    }
  }

  // Last column.
  &:last-child {
    padding-left: 0;
    border: none;

    @media (min-width: $screen-md) {
      padding-left: 30px;
      border: none;
      border-left: 1px solid $c-border-light;
    }
    @media (min-width: $screen-lg) {
      padding-left: 30px;
      border: none;
      border-left: 1px solid $c-border-light;
    }
  }

  > .view-header,
  > .view-content {
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
  }
}

.ccc-rate-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.2;

  > div {
    margin: 0;
    padding: 0 30px;
    width: 50%;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-left: 1px solid $c-border-light;
    }
  }
}

.ccc-rate-header__percentage {

}

.ccc-rate-header__number {
  font-size: 32px;
  line-height: 1.2;
}


// Credit Card Transactions Header.
.ccc-cc-transactions-header {
  margin: 0 0 20px;
  padding: 30px 20px;
  width: 100%;
  border-bottom: 1px solid $c-border;

  @media (min-width: $screen-lg) {
    padding: 10px 50px;
  }
}

.ccc-cc-transactions-header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: $screen-lg) {
    flex-wrap: nowrap;
  }

  > div {
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $screen-lg) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.ccc-cc-transactions-header__title {
  width: 100%;
  min-width: 100%;
  border-right: none;

  @media (min-width: $screen-lg) {
    width: 220px;
    min-width: 220px;
    border-right: 1px solid $c-border-light;
  }

  h3 {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 66px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;

    // Card Icons.
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 6px;
      display: block;
      margin: 0;
      padding: 0;
      width: 37px;
      height: 26px;
      background: $c-white;
      border: 1px solid $c-border;
      box-shadow: 0 2px 3px rgb(215, 222, 224);
      pointer-events: none;
      z-index: 3;
    }

    &::after {
      top: -6px;
      left: 0;
      z-index: 2;
    }
  }
}

.ccc-cc-transactions-header__number {
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  @media (min-width: $screen-lg) {
    padding-left: 50px;
    padding-right: 20px;
  }
}

.ccc-cc-transactions-header__number__count {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 40px;
  line-height: 1.2;
  vertical-align: middle;
}

.ccc-cc-transactions-header__number__label {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: middle;
}

.ccc-cc-transactions-header__dates {
  width: 100%;
  min-width: 100%;
  text-align: left;

  @media (min-width: $screen-lg) {
    width: 300px;
    min-width: 300px;
    text-align: right;
  }
}

// View Content - Results.
.view-credit-card-report.view-display-id-page_1 > .view-content {
  border: 1px solid $c-border;
  border-top: none;
}

// View Row.
.ccc-card-report-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.2;
  background: $c-bg-light;
  border-bottom: 1px solid $c-border-light;

  @media (min-width: $screen-lg) {

  }

  strong {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.6;

    &.ccc-lg {
      padding-right: 5px;
      font-size: 28px;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  > div {
    margin: 0;
    padding: 15px 20px;
    width: 100%;

    @media (min-width: $screen-sm) {
      padding: 10px 30px;
    }

    &.ccc-card-report-row__card-type {
      padding-top: 21px;
      width: 100%;
      min-width: auto;

      @media (min-width: $screen-xl) {
        width: 20%;
      }
    }

    &.ccc-card-report-row__total-transactions {
      padding-top: 21px;
      width: 100%;
      border-left: none;
      border-right: none;

      @media (min-width: $screen-xl) {
        width: 30%;
        border-left: 1px solid $c-border-light;
        border-right: 1px solid $c-border-light;
      }
    }

    &.ccc-card-report-row__transactions {
      width: 100%;

      @media (min-width: $screen-xl) {
        width: 50%;
      }
    }
  }
}

.ccc-card-report-row__attempted-total {
  position: relative;
  top: 2px;
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.ccc-card-report-row__attempted-total-details {
  display: none;
}

.ccc-card-report-row__full-details {
  position: relative;
  display: none;
  margin: 24px 0;
  padding-left: 40px;

  &.ccc-card-report-row__full-details--offset {
    padding-left: 0;
  }
}

.ccc-card-report-row__full-details .ccc-ico {
  position: absolute;
  top: -6px;
  left: 0;
}

// When row is active.
.ccc-card-report-row.active {
  background: $c-white;

  .ccc-card-report-row__attempted-total-details {
    display: inline-block;
  }

  .ccc-card-report-row__full-details {
    display: block;
  }

  .ccc-card-report-row__details-content {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 670px;

    @media (min-width: $screen-sm) {
      display: flex;
      padding: 20px 30px 0;
    }

    > .ccc-card-report-row__percentage {
      display: block;
      padding-right: 30px;
      width: 150px;
      min-width: 150px;

      .progress-circle {
        margin: 0 0 15px;
      }

      .ccc-card-report-row__percentage-value {
        padding: 0;
      }

      .ccc-card-report-row__percentage-info {
        padding: 0;
      }
    }

    > .ccc-card-report-row__details-col {
      display: block;
    }
  }

  > div {
    &.ccc-card-report-row__total-transactions {
      width: 80%;
      border-right: none;
    }

    &.ccc-card-report-row__transactions {
      margin-top: 10px;
      width: 100%;
      border-top: 1px solid $c-border;

      > div:first-child {
        border-right: none;

        @media (min-width: $screen-sm) {
          border-right: 1px solid $c-border;
        }
      }
    }
  }
}

.js-ccc-view-row-details {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-size: 0;
  line-height: 1;
  z-index: 1;
}

.js-ccc-view-row-details:hover,
.js-ccc-view-row-details:focus,
.js-ccc-view-row-details::before {
  text-decoration: none;
}

.js-ccc-view-row-details::before {
  content: '+';
  display: block;
  font-family: Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
}

.active .js-ccc-view-row-details::before {
  content: '-';
}

.ccc-card-report-row__transactions {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin: 10px 0 30px;
    width: 100%;

    @media (min-width: $screen-sm) {
      margin: 0;
      width: 50%;
    }

    &:first-child {
      border-right: none;

      @media (min-width: $screen-sm) {
        border-right: none;
      }
    }
  }
}

.ccc-card-report-row__details {

}

.ccc-card-report-row__details-content {
  display: flex;
  flex-wrap: nowrap;

  > .ccc-card-report-row__percentage {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-width: 100%;

    .progress-circle {
      margin: 0;
    }

    .ccc-card-report-row__percentage-value {
      margin: 0 0 8px;
      padding: 13px 15px 0 15px;
      font-size: 28px;
    }

    .ccc-card-report-row__percentage-info {
      padding: 10px 0 0;
      line-height: 1.3;
    }
  }

  > .ccc-card-report-row__details-col {
    display: none;
    width: 100%;
  }
}

// Row - Card Type.
.ccc-card-report-row .views-field-card-type div {
  display: inline-block;
  vertical-align: top;
}

.ccc-card-report-row .ccc-card-report-row__card-icon {
  margin-right: 10px;
  width: 60px;
  height: 38px;
  background-size: 60px 38px;
}

.ccc-card-report-row__card-name {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  vertical-align: top;
}

.ccc-card-report__list {
  display: block;
  margin: 8px 0 15px;
  padding: 0;
  list-style: none;

  > li {
    display: block;
    margin: 0 0 10px;
    padding: 0;
    font-size: 14px;
    line-height: 1.3;
    background: none;
  }

  &.js-ccc-card-report__list {
    > li {
      display: none;
    }

    > li:nth-child(1),
    > li:nth-child(2),
    > li:nth-child(3),
    > li:nth-child(4),
    > li:nth-child(5) {
      display: block;
    }

    > li.ccc-card-report__list__view-all {
      display: block;
    }

    &.active > li {
      display: block;
    }
  }
}

.js-ccc-card-report__list__view-all-button {
  &::before {
    content: '+';
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    vertical-align: top;
  }

  .js-ccc-card-report__list__view-all-button__default {
    display: inline;
  }

  .js-ccc-card-report__list__view-all-button__active {
    display: none;
  }
}

.js-ccc-card-report__list.active .js-ccc-card-report__list__view-all-button {
  &::before {
    content: '-';
  }

  .js-ccc-card-report__list__view-all-button__default {
    display: none;
  }

  .js-ccc-card-report__list__view-all-button__active {
    display: inline;
  }
}

// Icons.
.ccc-ico {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  vertical-align: top;
  background: $c-border;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: 50% 50%;
  border-radius: 50%;
}

.ccc-ico--success {
  background-color: $c-success;
}

.ccc-ico--failure {
  background-color: $c-failure;
}

.ccc-ico--dollar {
  background-image: url('../images/ico-dollar.svg');
}

.ccc-ico--calendar {
  background-image: url('../images/ico-calendar.svg');
}

.ccc-ico--download {
  background-image: url('../images/ico-download.svg');
}

.ccc-ico--exclamation,
.ccc-ico--error {
  background-image: url('../images/ico-exclamation.svg');
}

.ccc-ico--refresh {
  background-size: 45% 45%;
  background-image: url('../images/ico-refresh.svg');
}
