//
// Variables.
//

//
// Colors.
//

$c-white: #fff;
$c-black: #000;

$c-success: #21c6a1;
$c-success-hover: darken($c-success, 6%);
$c-failure: #fe622a;

$c-text: #333;
$c-bg-light: #f8f8f8;
$c-chart-circle-bg: #e3e3e3;

$c-border: #ccc;
$c-border-light: #dfdfdf;

//
// Fonts.
//

$f-arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$f-verdana: Verdana, Geneva, sans-serif;

//
// Credit Card Report.
//

$ccr-view-max-width: 1600px;

//
// Responsive.
//

$screen-min: 320px;
$screen-xs-ph: 420px;
$screen-xs: 480px;
$screen-sm-ph: 600px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1560px;
